.main{
    background-image: url(https://thumbs.gfycat.com/FemaleDifferentAfricancivet-size_restricted.gif);
    background-repeat: no-repeat;
    background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.103);
    color:rgba(255, 166, 0, 0.479);
    text-shadow: red 0.1em 0.1em 0.2em;
    
}
